html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    color: rgba(0, 0, 0, 0.75);
    background: linear-gradient(45deg, #350002 10%, #c60124);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background: #e2fcfc;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

header h1 {
    letter-spacing: 1.5px;
    font-weight: 300;
}

.students {
    list-style: none;
    background: #fff;
    padding: 20px;
    margin: 30px auto;
    width: 90%;
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.row li {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#students {
    background: #fff;
    width: 90%;
    padding: 10px;
    margin: 140px auto;
    border-radius: 5px;
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px auto;
}

.input label {
    margin-bottom: 3px;
}

.btn {
    background: rgb(17, 112, 91);
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}

input {
    height: 40px;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.6rem;
    border: 1px solid rgba(0,0,0,0.2);
}
